{% extends 'base.html'%} {% block title %}{{survey.title}} Question {{i+1}}{%
endblock %} {% block content %}
<h1>{{survey.title}}</h1>
<h2>Question {{i+1}}</h2>
<p>{{survey.questions[i].question}}</p>
<form action="/survey/{{survey_id}}/responses" method="POST">
  {% for choice in survey.questions[i].choices %}
  <label for="{{choice}}">
    <input type="radio" name="question" value="{{choice}}" /> {{choice}}
  </label>
  <br />
  {% endfor %} {% if survey.questions[i].allow_text %}
  <input type="text" name="text" />
  {% endif %} {% if i < (survey.questions.__len__()-1) %}
  <input type="submit" value="Next Question" />
  {% else %}
  <input type="submit" value="Finish Survey" />
  {% endif %}
</form>
{% endblock %}
